ksiazki.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.org/hobby"
    xmlns="http://example.org/hobby"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xs:complexType name="HobbyCzytelniczeType">
        <xs:sequence>
            <xs:element name="Podsumowanie" type="PodsumowanieType" />
            <xs:element name="Ulubione_Gatunki">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Gatunek" type="GatunekType" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Ksiazki">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Ksiazka" type="KsiazkaType" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="imie_autora" type="xs:string" use="required" />
        <xs:attribute name="nazwisko_autora" type="xs:string" use="required" />
        <xs:attribute name="indeks_autora" type="IndeksAutoraType" use="required" />
    </xs:complexType>

    <xs:element name="Hobby_Czytelnicze" type="HobbyCzytelniczeType" />

    <xs:complexType name="OsobaType" mixed="true">
        <xs:sequence>
            <xs:element name="Imie" type="NazwaType" />
            <xs:element name="Nazwisko" type="NazwaType" />
            <xs:element name="Narodowosc" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AutorType" mixed="true">
        <xs:complexContent mixed="true">
            <xs:extension base="OsobaType">
                <xs:attribute name="rola" type="RolaAutoraType" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="StatystykiRoczneType">
        <xs:sequence>
            <xs:element name="Liczba_Przeczytanych">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:nonNegativeInteger">
                            <xs:attribute name="jednostka" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="sztuk" />
                                        <xs:enumeration value="stron" />
                                        <xs:enumeration value="godzin" />
                                        <xs:enumeration value="książek" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Liczba_Stron">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:nonNegativeInteger">
                            <xs:attribute name="jednostka" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="sztuk" />
                                        <xs:enumeration value="stron" />
                                        <xs:enumeration value="godzin" />
                                        <xs:enumeration value="książek" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Laczny_Czas_Czytania">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:nonNegativeInteger">
                            <xs:attribute name="jednostka" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="sztuk" />
                                        <xs:enumeration value="stron" />
                                        <xs:enumeration value="godzin" />
                                        <xs:enumeration value="książek" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="rok" type="xs:gYear" use="required" />
    </xs:complexType>

    <xs:complexType name="GatunekType">
        <xs:sequence>
            <xs:element name="Nazwa" type="xs:string" />
            <xs:element name="Opis" type="xs:string" />
            <xs:element name="Przykladowi_Autorzy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Autor" type="AutorType" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="priorytet" type="xs:positiveInteger" use="required" />
    </xs:complexType>

    <xs:complexType name="WydawnictwoType">
        <xs:sequence>
            <xs:element name="Nazwa_Skrocona" type="xs:string" />
            <xs:element name="Siedziba_Glowna">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Adres_Fizyczny">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="Kraj" type="xs:string" />
                                    <xs:element name="Miasto" type="xs:string" />
                                </xs:all>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="nazwa_pelna" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="KsiazkaType">
        <xs:sequence>
            <xs:element name="Tytul">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute ref="jezyk" use="required" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Autor" type="AutorType" />
            <xs:element name="Dane_Wydawnicze">
                <xs:complexType>
                    <xs:group ref="DaneWydawniczeGrupa" />
                </xs:complexType>
            </xs:element>
            <xs:element name="Media">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Okladka">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Zdjecie">
                                        <xs:complexType>
                                            <xs:attribute name="url" type="URLType" use="required" />
                                            <xs:attribute name="format" use="required">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="jpeg" />
                                                        <xs:enumeration value="png" />
                                                        <xs:enumeration value="webp" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Recenzja">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Link">
                                        <xs:complexType>
                                            <xs:attribute name="typ" type="xs:string" use="required" />
                                            <xs:attribute name="url" type="URLType" use="required" />
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute ref="jezyk" use="required" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="status" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="przeczytana" />
                    <xs:enumeration value="w_trakcie" />
                    <xs:enumeration value="do_przeczytania" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="ocena" type="OcenaType" use="optional" />
    </xs:complexType>

    <xs:complexType name="PodsumowanieType">
        <xs:sequence>
            <xs:element name="Opis">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="Opis_Krotki" type="xs:string" />
                        <xs:element name="Opis_Rozwiniety">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Tekst" type="xs:string" />
                                    <xs:element name="Korzysci" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Punkt" type="xs:string"
                                                    maxOccurs="unbounded" />
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="Statystyki">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Statystyki_Roczne" type="StatystykiRoczneType" />
                        <xs:element name="Statystyki_Format">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Format" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="ProcentType">
                                                    <xs:attribute name="nazwa" type="xs:string"
                                                        use="required" />
                                                    <xs:attribute name="jednostka" type="xs:string"
                                                        use="required" />
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Simple Types -->

    <xs:simpleType name="NazwaType">
        <xs:restriction base="xs:string">
            <xs:minLength value="4" />
            <xs:maxLength value="40" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OcenaType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="5" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IndeksAutoraType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{6}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ProcentType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="100" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RolaAutoraType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kluczowy" />
            <xs:enumeration value="wazny" />
            <xs:enumeration value="poboczny" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="URLType">
        <xs:restriction base="xs:anyURI">
            <xs:whiteSpace value="collapse" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="JezykType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2}" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Grupa -->

    <xs:group name="DaneWydawniczeGrupa">
        <xs:sequence>
            <xs:element name="Rok_Wydania_Polskiego" type="xs:gYear" />
            <xs:element name="Wydawnictwo" type="WydawnictwoType" />
            <xs:element name="ISBN">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="typ" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="ISBN-10" />
                                        <xs:enumeration value="ISBN-13" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>

    <!-- Globalny atrybut -->

    <xs:attribute name="jezyk" type="JezykType" />

</xs:schema>